{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "env": {
        "jest": true
    },
    "globals": {
        "document": true,
        "window": true
    },
    "rules": {
        "import/prefer-default-export": 0,
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js"] }
        ],
        "import/no-unresolved": 1,
        "react/state-in-constructor": [0, "always"],
        "react/jsx-props-no-spreading": 1,
        "import/no-extraneous-dependencies": 1
    }
}
